.env
.env.local
.env.production
note/*
NOTES.md
**/*.yml-e

server/service/template/template
server/service/template/hrm-template-server
server/service/template/hrm-template-cli

server/service/entity/entity
server/service/entity/hrm-entity-server
server/service/entity/hrm-entity-cli

server/service/item/item
server/service/item/hrm-item-server
server/service/item/hrm-item-cli

server/service/spell/spell
server/service/spell/hrm-spell-server
server/service/spell/hrm-spell-cli

server/service/account/account
server/service/account/hrm-account-server
server/service/account/hrm-account-cli
