.env
note/*
**/*.yml-e

server/service/template/template
server/service/template/hrm-template-server
server/service/template/hrm-template-cli

server/service/mage/mage
server/service/mage/hrm-mage-server
server/service/mage/hrm-mage-cli

server/service/item/item
server/service/item/hrm-item-server
server/service/item/hrm-item-cli

server/service/spell/spell
server/service/spell/hrm-spell-server
server/service/spell/hrm-spell-cli
